---
Checks: >
  -*,
  bugprone-dangling-handle,
  bugprone-move-forwarding-reference,
  bugprone-suspicious-memset-usage,
  bugprone-undelegated-constructor,
  bugprone-unused-raii,
  bugprone-use-after-move,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-nullability.*,
  clang-analyzer-optin.cplusplus.*,
  clang-analyzer-security.*,
  misc-definitions-in-headers,
  misc-unused-using-decls,
  modernize-deprecated-headers,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-unnecessary-value-param,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-string-compare,
  readability-uniqueptr-delete-release,
  readability-uppercase-literal-suffix,
  -bugprone-branch-clone,
  -bugprone-command-processor,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-signed-bitwise,
  -bugprone-unchecked-optional-access,
  -cert-env33-c,
  -cert-err09-cpp,
  -cert-err33-c,
  -cert-err58-cpp,
  -cert-err61-cpp,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-unix.BlockInCriticalSection,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include/|src/).*'
